{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}

<div class="form-container mx-auto mt-5 p-4 rounded shadow border" style="max-width: 700px; background-color: #fff;">
    <h2 class="mb-4 text-center">Edit Livre</h2>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('app_livre_index') }}" class="btn btn-secondary">← Back to list</a>
        <div>
            <button type="submit" class="btn btn-primary me-2">Update</button>
            {{ include('livre/_delete_form.html.twig', { 'button_attr': { 'class': 'btn btn-danger' } }) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>


{% endblock %}
